{{!< default}}
<div class="container-fluid post-container">
    {{#post}}
        {{#if image}}
            <div class="row">
                <img class="post-cover-image" src="{{image}}">
            </div>
        {{/if}}

    <div class="container post-content-container">
        <div class="row">
            <div class="post-title-col col-md-8">
            <h1 class="post-title">{{title}}</h1>
            </div>
            <div class="post-meta-col col-md-4">
                <div class="post-date row">{{date published_at format="YYYY-MM-DD"}}</div>
                {{#author}}
                <div class="post-author row">by <a href="{{url}}"><img class="post-author-image" src="{{image}}"> {{name}}</a></div>
                {{/author}}
            </div>
        </div>
        <div class="row">
            <div class="post-content col-md-8 col-md-offset-2">
                {{content}}
            </div>
        </div>
    </div>

    {{/post}}

    <div class="container post-comments-container">
        {{> "disqus"}}
    </div>

</div>
